@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* Creates the typing effect. Source: https://css-tricks.com/snippets/css/typewriter-effect/ */
#welcome h1 {
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
    font-size: 3vw;
    color: #ffffff;
}

body {
    background-color: #0B0C10;
    color: white;
}

#skiing {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 50%;
}

#projects {
    padding: 4% 2% 5% 2%;

    display: grid;
    grid-template-areas:
        'title title'
        'CSTBuddyImg CSTBuddyText'
        'SpotUrVibeImg SpotUrVibeText';
    grid-gap: 20px;
}

#projects h1 {
    grid-area: 'title';
}

#CSTBuddyImg {
    grid-area: CSTBuddyImg;
    margin-bottom: 10%;
}

#CSTBuddyText {
    grid-area: CSTBuddyText;
    margin-bottom: 10%;
}

#CSTBuddyText p {
  height: 400px;
  width: 400px;
  border: 1px solid #ccc;
  overflow: auto;
}

#SpotUrVibeImg {
    grid-area: SpotUrVibeImg;
}

#SpotUrVibeText {
    grid-area: SpotUrVibeText;
}

.projectText a {
    color: white;
}

#projects a:hover {
    opacity: 0.7;
}

.projectImg img {
    width: 100%;
}

.fa {
    padding-top: 5px;
    font-size: 26px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border: solid black 3px;
}

.fa:hover {
    opacity: 0.8;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: white;
    color: black;
}